<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joyful.joyfulkitchen">

    <!-- 读取 SD 卡 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 网络连接权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络连接状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 蓝牙连接权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/kit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.RuleViewMainActivity" />
        <activity android:name=".activity.DatePickerMainActivity" />
        <activity android:name=".activity.UpdateActivity" />
        <activity android:name=".activity.FoodTypeSelectActivity" />
        <activity android:name=".activity.SearchListActivity" />
        <activity android:name=".activity.FoodDetailActivity" />
        <activity android:name=".activity.FoodTypeSelectedActivity" />
        <activity android:name=".activity.MyselfActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegistActivity" />
        <activity android:name=".activity.UpdateFoodActivity" />

        <service android:name=".service.BluetoothService" />

        <activity android:name=".activity.FoodValueActivity"/>

        <!--<activity android:name=".activity.MainActivity"/>-->
    </application>

</manifest>